//@import "./index";
.page-template-about {
  .header {
    background-color: $white;
  }

  .navigation__close {
    top: 45rem;
  }
}
.about {
  min-height: 100vh;
  @include media("<=mobile") {
    padding: 0 28rem;
  }
}

.about__wrapper {
  min-height: 100vh;
  @extend .grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 $gutter;
  padding-top: 134rem;
  margin-bottom: 8rem;

  @include media("<=tablet") {
    grid-template-columns: 1fr;
  }
}

.about__wrapper__image {
    max-width: 859rem;
    img {
      opacity: 0;
    }

  @include media("<=tablet") {
    margin: 0 auto;
  }
}

.about__details {
  max-width: 786rem;

  @include media("<=tablet") {
    max-width: 730rem;
    margin: 0 auto 70rem auto;
  }
}
.about__details__title {
  @extend .title-72;
  @extend .font-light;
  max-width: 300rem;
  margin-bottom: 75rem;
  padding-top: 105rem;
}
.about__details__text {
  margin-bottom: 65rem;
}

.about__details__contact {
  strong {
    @extend .font;
  }
  p {
    &:first-child {
      margin-bottom: 9rem;
    }
    @extend .font-light;
  }
  a {
    @extend .link-underline;
    @extend .link-underline--black;
  }
}
