.change-opc-tr {
  will-change: transform, opacity;
}
.change-tr {
  will-change: transform;
}

.change-opc {
  will-change: opacity;
}


[data-animation = "title"] {
  opacity: 0;
  @extend .change-opc-tr;
  transform: translateY(15rem);
}

[data-animation = "image"] {
  opacity: 0;
}

[data-animation = "image-scale"] {
  @extend .change-tr;
  transform: scale(1.2);
  transform-origin: center center;
}


// .js-fade {
//   opacity: 0;
//   @extend .change-opc-tr;

//   &.js-fade-bt {
//     transform: translateY(100%);
//   }
//   &.js-fade-bt-sm {
//     transform: translateY(30rem);
//   }
//   &.js-fade-bt-xs {
//     transform: translateY(15rem);
//   }

//   &.js-fade-lr {
//     transform: translateX(-100rem);
//   }
//   &.js-fade-lr-sm {
//     transform: translateX(-30rem);
//   }
//   &.js-fade-lr-xs {
//     transform: translateX(-15rem);
//   }

//   &.js-fade-rl {
//     transform: translateX(100%);
//   }
//   &.js-fade-rl-sm {
//     transform: translateX(30rem);
//   }
//   &.js-fade-rl-xs {
//     transform: translateX(15rem);
//   }

//   &.js-fade-tb {
//     transform: translateY(-100rem);
//   }
//   &.js-fade-tb-sm {
//     transform: translateY(-30rem);
//   }
//   &.js-fade-tb-xs {
//     transform: translateY(-15rem);
//   }


// }

// .prx {
//   @extend .change-tr;
//   &.prx-100 {
//     @include translateY(100%);
//   }
//   &.prx-70 {
//      @include translateY(70%);
//   }

//   &.prx-50 {
//     @include translateY(50%);
//   }
//   &.prx-30 {
//     @include translateY(30%);
//   }
//   &.prx-20 {
//     @include translateY(20%);
//   }

// }




// .js-scale-out, .js-scroll-scale-out {
//   @include transform(scale(1.5));
//   @include transform_origin(center, center);
//   @extend .change-tr;
//   &.js-scale-out--sm, .js-scroll-scale-out--sm {
//     @include transform(scale(1.3));
//   }
// }

// .js-zoom-out {
//   @extend .change-tr;

//   @include transform(scale(1.3));
//   &.js-zoom-out--0 {
//     @include transform(scale(0));
//     @include transform_origin(center, center);
//   }
// }




/*Image reveal*/
// .js-img-reveal__holder {
//   @extend .change-tr;

//   &.js-img-reveal__holder--lr {
//     @include transform(translateX(-110%));
//   }
//   &.js-img-reveal__holder--rl {
//     @include transform(translateX(110%));
//   }
//   &.js-img-reveal__holder--tb {

//     @include transform(translateY(-110%));
//   }
//   &.js-img-reveal__holder--bt {
//     @include transform(translateY(110%));
//   }
// }


// .js-img-reveal__image {
//   @extend .change-tr;

//   &.js-img-reveal__image--lr {
//     @include transform(translateX(110%));
//   }
//   &.js-img-reveal__image--rl {
//     @include transform(translateX(-110%));
//   }
//   &.js-img-reveal__image--tb {
//     @include transform(translateY(110%));
//   }
//   &.js-img-reveal__image--bt {
//     @include transform(translateY(-110%));
//   }
// }


// .js-skew {
//   @include transform( translateY(10rem) skewY(3deg));
//   @include opacity(0);
//   transform-style: preserve-3d;
//   @include transform_origin(top, left);
// }


// .js-reveal-c__holder {
//   @include transform(scale(0.6));
//   @extend .change-tr;
// }
// .js-reveal-c__img {
//   @include transform(scale(1.4));
//   @include opacity(0);
//   @include transform_origin(center, center);
//   @extend .change-tr;
// }
