.description-30 {

  font-size: 30rem;
  line-height: 35rem;
  letter-spacing: 0.5rem;
}
.description-24 {
  font-size: 24rem;
  line-height: 35rem;
  letter-spacing: 0.3rem;
  // @include media('<phone') {
  //     font-size: 2.8rem;
  // }
}

.description-24--40 {
  font-size: 24rem;
  line-height: 40rem;
  letter-spacing: 0.3rem;
}

.description-14 {
  font-size: 14rem;
  line-height: 18rem;
  letter-spacing: 0.3rem;

  @include media('<=tablet-horizontal') {
    font-size: 17rem;
    line-height: 19rem;
  }
}

.description-12 {
  font-size: 12rem;
  line-height: 16rem;
  letter-spacing: 0.3rem;

  @include media('<=tablet') {
    font-size: 17rem;
    line-height: 19rem;
  }
}
