.footer {
  padding: 28rem 0;
  background-color: $dark_blue;
  margin:  0 74rem;
  color: $white;
  position: relative;
  z-index: 10;

  @include media('<=tablet') {
    margin: 0 28rem;
  }

  @include media('<=mobile') {
    margin: 0;
    padding: 28rem;

  }
  @include media('landscape', '>450px','<840px') {
    margin: 0;
    padding: 28rem;
  }

  .social, .contact__wrapper__phone, .contact__wrapper__email {
    @extend .link-underline--white;
    @extend .font-light;
  }
.contact__wrapper__address {
    a {
      @extend .link-underline;
      @extend .link-underline--white;
    }
  }
}

.contact__wrapper__address {
   @extend .font-light;

}

.footer__wrapper {
  max-width: 1340rem;
  margin: 0 auto;
  padding-top: 112rem;

  @include media('<=tablet') {
    max-width: 730rem;
    display: flex;
    justify-content: center;
  }

  @include media('landscape', '>450px','<840px') {
    max-width: 100%;
  }

  @include media('<=mobile') {
    padding-top: 60rem;
  }


}

.footer__contact {
  @extend .grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 $gutter;
  margin-bottom: 130rem;

  @include media('<=tablet') {
    margin-bottom: 90rem;
    grid-template-columns: 1fr;
  }

  @include media('landscape', '>450px','<840px') {
    grid-template-columns: 1fr 1fr;
  }

}

.footer__contact__info {
  padding-bottom: 0;
  max-width: 360rem;

  @include media('<=tablet') {
      padding-bottom: 100rem;
  }


}
.footer__contact__info__title {
  @extend .title-72;
  @extend .font-light;
  max-width: 282rem;
  margin-bottom: 75rem;
}

.footer__contact__form {
  max-width: 640rem;
   a {
     @extend .link-underline;
     @extend .link-underline--white;
  }
  @include media('<=tablet') {
    max-width: 730rem
  }
}

.contact__form__text {
  @extend .description-24;
  margin-bottom: 87rem;
}

.bottom {

  @extend .description-12;

  @include media('<=mobile') {
    display: block;
  }

  @include media('landscape', '>450px','<840px') {
    display: flex;
  }

  .divider {
    margin: 0 12rem;

    @include media('<=mobile') {
      display: none;
    }

    @include media('landscape', '>450px','<840px') {
      display: block;
    }
  }



}

.bottom__copy {

  @include media('<=mobile') {
      margin-bottom: 15rem;
  }

  @include media('landscape', '>450px','<840px') {
    margin-bottom: 0;
  }
}


