// * {
//   @include input-placeholder {
//     color:inherit;
//     opacity: 1;
//     color: rgba(255,255,255,255)!important;
//   }
// }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $white;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(0,0,0,0.1) inset;
  color:$white;
}


input:focus{
  @include placeholder {
    opacity: 0.3;
  }
}

.input, .textarea__input, .wpcf7-tel{
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  float: none;
  display: block;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  border-bottom: 1rem solid $white;
  margin-bottom: 32rem;
  padding: 0 10rem 10rem;
  color: $white;
  @extend .description-24;


  &:focus, &.loc{
    outline: none;
    border-color: $white;
  }

  &.field-with-error{
    border-color: $red;
    color: $red;
    //&:invalid
    & ~ .invalid-tip, & ~ .wpcf7-not-valid-tip{
      visibility: hidden;
    }

    @include placeholder {
      color: $white;
    }

  }

}

.textarea {
  padding-top: 50rem;
  grid-column: 1 / 2 span;
    & ~ .invalid-tip, & ~ .wpcf7-not-valid-tip{
    visibility: hidden;
  }
}

.textarea__input {
  height: 50rem;
  margin-bottom: 23rem;
}

.form {
  @extend .grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 34rem;

  @include media('<=mobile') {
    display: block;
  }

  @include media('landscape', '>450px','<840px') {
    display: grid;
  }
}


.form__terms {
  margin-bottom: 50rem;
  @extend .description-14;
  @extend .relative;
}
.form__btn {
  @extend .relative;
  background-color: $white;
  @extend .flex;
  @extend .flex-center;
  @extend .trans;
  color: $black;
  width: 258rem;
  height: 70rem;

  &:hover {
    background-color: $light_blue;
  }
}


.chk {
  margin: 0;
  position: absolute;
  top: 0;
  outline: none;
  cursor: pointer;
  height: 16rem;
  min-width: 16rem;
  appearance: none;
  border: 1px solid $white;
  @extend .trans;


  &:checked {
    opacity: 1;
    background-color: $white;
    border-color: white!important;

    +label {
      color: $white;
    }
  }

  /*iOS mobile fix*/
  //border: none;
  box-shadow: none;
  -webkit-box-shadow:none;


}

.label-form{
  display: none;
}

.chk-label {
  padding-left: 30rem;

}

.wpcf7-email,.wpcf7-text  {
  & ~ .invalid-tip, & ~ .wpcf7-not-valid-tip{
    visibility: hidden;
  }
}


.form-field__label, .textarea-label {
  // @extend .font-special;
  // @extend .title-42;
  // @extend .color--black;
  margin-bottom: 25rem;
}




.screen-reader-response {
  display: none;
}

.wpcf7-not-valid-tip {
  position: absolute;
  bottom: -20rem;
  left: 30rem;
  display: block;

}
.acceptance-581 {
  .wpcf7-not-valid-tip {
    display: none; //acceptance text
  }
}

.wpcf7-acceptance{

  &.wpcf7-not-valid {

    .wpcf7-list-item {
        .chk {
          border-color: $red;
        }
    }
  }
}


.wpcf7-not-valid-tip, .wpcf7-validation-errors {

  color :$red;

}

.wpcf7-not-valid {
  border-color: $red;
}

.wpcf7-response-output {
  margin-top: 30rem;
  @extend .description-24;
  // @extend .color--black;
  color: $white;

  &.wpcf7-validation-errors, &.wpcf7-mail-sent-ng {
    color: $red
  }
  &.wpcf7-display-none {
    &.wpcf7-mail-sent-ok {
     color: $white
    }
  }
}




.wpcf7-form {
  position: relative;
}


.transparent-button{
  z-index: 30;
  cursor: pointer;
  background: none;
  border: none;
  @extend .cover;
  opacity: 0;
  /* should be used with aother class for positioning: eg .abs-tl */
}


.grecaptcha-badge {
  display: none!important;
}


