.cursor {
  cursor: pointer;
}

// .cover-img{
//     @include bg-cover();
// }
.cover {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}


.display-inline{
    @include display-inlineBlock();

}
.display-inline-top{
    @include display-inlineBlock(top);
}
.display-inline-bottom{
    @include display-inlineBlock(bottom);
}

.display-block{
    display: block;
}

.embed-container {
  width: 100%;
  z-index: 25;


  .video-inner {
    pointer-events: none;
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  iframe {
    pointer-events: none;
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 36%; /*36*/
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;

}

.full-height {
  height: 100vh;
}


.grid {
  display: grid;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
.show {
  visibility: visible;
  opacity: 1;
}
.lazy-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.multiply {
    @include blend-mode();
}

.over {
  position: relative;
  z-index: 10;
}
.overflow {
  overflow: hidden;
}
picture {
  display: block;
}

.relative {
  position: relative;
}

.trans {
  transition: all 300ms ease-in-out;
}

.img{
  width: 100%;
  height: auto;
  display: block;
}

.fit-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;


}


.lazy {
 opacity: 0;
  visibility: hidden;
}




