.col {
  margin:  0 auto;
}
.col-12{
  max-width: 1633rem; // plus gutter

}
.col-10{
  max-width: 1368rem;
}
.col-8{
  max-width: 1093rem;
}
.cols-6{
  max-width: 812rem;
}

.gutter {
  margin-left: 14rem;
  margin-right: 14rem;

  @include media('<=tablet') {
    margin-left: 28rem;
    margin-right: 28rem;
  }
}

$gutter: 28rem;
