.home {
  .header__logo {
    top: 40rem;
  }
  .nav {
    top: 78rem
  }
}



.header {
  position: fixed;
  left: 0;
  top:0;
  height: 115rem;
  right: 0;
  z-index: z('header');
}

.header-blue {
  .nav__line {
    background-color: $dark_blue;
  }
}
.header__logo, .header__logo-letters {
  position: absolute;
  left: 0;
}


.header__logo{
  width:68rem;
  height:68rem;
  left: 157rem;
  top: 30rem;
  @include media('<=tablet') {
    left: 70rem;
  }
  @include media('<=mobile') {
    left: 28rem;
  }
}



.header__logo-letters {
 width:222rem;
 height:71rem;
 top: 65rem;
 left: 137rem;

  @include media('<=tablet') {
    left: 70rem;
  }
  @include media('<=mobile') {
    left: 28rem;
  }

}
.logo, .logo-letters {
  width: 100%;
  height: 100%;
}
.logo {
  fill: $dark_blue;
}
.logo-letters {
   fill: $white;
}


.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 60rem;
  height: 35rem;
  position: absolute;
  z-index: 10;
  right: 137rem;
  top: 48rem;

  @include media('<=tablet') {
   right: 70rem;
  }
  @include media('<=mobile') {
    right: 28rem;
  }

}

.nav__line {
  overflow: hidden;
  width: 40rem;
  height: 4px;
  background-color: $white;
  position: relative;
  align-self: flex-start;
}

.nav__line__med {
  width: 100%;
}

.languages__text {
  @extend .link-underline;
  @extend .link-underline--white;
  @extend .cursor;
}

.menu-a {
  @extend .link-underline;
  @extend .link-underline--white;
}





