
.link-underline {

  @extend .relative;
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: bottom right;
  text-decoration: none;
  -moz-transition: background-size 1s cubic-bezier(0.19, 1, 0.22, 1), color 1s cubic-bezier(0.19, 1, 0.22, 1)!important;
  -o-transition: background-size 1s cubic-bezier(0.19, 1, 0.22, 1), color 1s cubic-bezier(0.19, 1, 0.22, 1)!important;
  -webkit-transition: background-size 1s cubic-bezier(0.19, 1, 0.22, 1), color 1s cubic-bezier(0.19, 1, 0.22, 1)!important;
  transition: background-size 1s cubic-bezier(0.19, 1, 0.22, 1), color 1s cubic-bezier(0.19, 1, 0.22, 1)!important;
  //@include my-transition(background-size, 1s, cubic-bezier(.19,1,.22,1));


  &.link-underline--open {

    background-size: 100% 1px;

  }


  &.link-underline--black {

    background-image: linear-gradient(180deg,transparent 0%,$black 0);
  }
  &.link-underline--white {

    background-image: linear-gradient(180deg,transparent 0%,$white 0);

  }

  &.link-underline--sm {
    background-size: 0 1px;

  }
  &:hover{

    background-size: 100% 1px;
    background-position: bottom left;

    &.link-underline--white {
      color: $white;
    }

    &.link-underline--open {
      color: $black;
      background-size: 100% 1px;
    }

  }

  &.link-underline--active {
    background-size: 100% 1px;
    background-position: bottom left;

    &:hover {
      background-position: bottom right;
      background-size: 0 1px;
    }
  }

}
