.navigation,
.navigation__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  @extend .hide;
}

.navigation {
  z-index: 100;
}

.navigation__overlay {
  background-color: $white;
  @extend .hide;
}

.navigation__wrapper {
  display: grid;
  grid-template-columns: 1.86fr 1fr;
  height: 70vh;
  transform: translateY(-100%);

  @include media("<=tablet") {
    grid-template-columns: 1fr 1fr;
  }

  @include media("<=mobile") {
    grid-template-columns: 1fr;
    height: 100%;
    overflow-y: auto;
  }

  @include media("landscape", ">450px", "<840px") {
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-y: auto;
  }
}
.navigation__wrapper__inner {
  background-color: $dark_blue;
  color: $white;

  @extend .over;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  @include media("<=mobile") {
    padding-top: 150rem;
  }
}

.navigation {
  .contact {
    background-color: $white;
    color: $black;
    @extend .over;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    @include media("<=mobile") {
      padding-top: 70rem;
    }
  }
}

.contact__wrapper {
  padding-bottom: 83rem;
  max-width: 325rem;
  width: 80%;
}

.contact__wrapper__info {
  @extend .font-light;
}

.contact__wrapper__text {
  @extend .description-24;
}

.socials {
  display: flex;
  gap: 85rem;
  margin-top: 75rem;
  @extend .font-light;

  @include media("<=mobile") {
    margin-top: 20rem;
  }
}
.contact__wrapper__phone,
.contact__wrapper__email {
  margin-bottom: 33rem;
}

.social,
.contact__wrapper__phone,
.contact__wrapper__email,
.contact__wrapper__address a {
  @extend .link-underline;
  @extend .link-underline--black;
}

.divider {
  margin: 0 20rem;
}

.languages {
  margin-top: 75rem;
  @extend .description-30;
}
.navigation__holder {
  padding-bottom: 85rem;
  max-width: 380rem;
  width: 80%;
}

/**
  * Close Navigation.
  */

.navigation__close {
  width: 42rem;
  height: 42rem;
  position: absolute;
  right: 150rem;
  top: 78rem;
  z-index: 1;
  @extend .hide;

  @include media("<=tablet") {
    right: 70rem;
  }

  @include media("<=mobile") {
    right: 37rem;
    top: 45rem;
  }

  @include media("landscape", ">450px", "<840px") {
    top: 78rem;
  }
}

.navigation__close__top,
.navigation__close__bottom {
  position: absolute;
  width: 100%;
  height: 4rem;
  left: 0;
  top: 15rem;
  background-color: $dark_blue;
  transform: rotate(0deg);

  @include media("<=mobile") {
    background-color: $white;
  }

  @include media("landscape", ">450px", "<840px") {
    background-color: $dark_blue;
  }
}

.menu-ul {
  .menu-item {
    @extend .font-light;
    @extend .title-68;
    letter-spacing: 11rem;
    margin-bottom: 50rem;

    @include media("<=mobile") {
      margin-bottom: 30rem;
    }
  }
}
