.title-72{
  font-size: 72rem;
  line-height: 75rem;
  letter-spacing: 0.5rem;

  // @include media('<phone') {
  //     font-size: 18rem;
  // }


}
.title-68{
  font-size: 68rem;
  line-height: 68rem;
  letter-spacing: 0.3rem;
}

.title-30{
  font-size: 30rem;
  line-height: 35rem;
  letter-spacing: 1.10rem;
}
