// %vertical-titles {
//   align-items: center;
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%,50%) rotate(-90deg);
//   top:50%;
//   display: flex;
//   //z-index: 1;
// }

// %vertical-titles__label {
//   //@extend %description-12;
//   text-transform: uppercase;
//   transform: rotate(90deg);
//   text-align: center;
//   margin: 0 3rem;
//   letter-spacing: 0.1rem;

//   @include media('<phone') {
//     font-size: 1.2rem;
//   }
// }

// %vertical-titles__title {
//   @extend %title-200;
//   padding-top: 2rem;

// }
