@font-face {
    font-family: 'HelveticaNeueLT W1G 45 Lt';
    src: url('HelveticaNeueLTW1G-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTW1G-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT W1G 55 Roman';
    src: url('HelveticaNeueLTW1G-Roman.woff2') format('woff2'),
        url('HelveticaNeueLTW1G-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

