*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --context: 1920;
}

@include media("<=tablet-horizontal") {
  :root {
    --context: 1800;
  }
}
@include media("<=tablet") {
  :root {
    --context: 1024;
  }
}

@include media("<=mobile") {
  :root {
    --context: 560;
  }
}

@include media("landscape", ">450px", "<840px") {
  :root {
    --context: 1200;
  }
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

html {
  background: $white;
  color: $black;
  //font-size: calc(100vw  / 1920 * 10); // 10is the font size
  line-height: 1;
  font-size: calc(100vw / var(--context));
}

body {
  @extend .description-24;
  //line-height: 1;
  font-family: $font;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  color: inherit;
  background: none;
  cursor: none;
  cursor: pointer;
  border: none;
}

.test {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background: yellow;
  color: #000;
  padding: 1px 2px;
  font-size: 10px;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.screen-reader-text {
  position: absolute;
  opacity: 0;
  z-index: 0;
  width: 1rem;
  height: 1rem;
}

p {
  margin: 0 0 30rem 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

img {
  user-select: none;
  outline: none;
}

@include text-selection($dark_blue, $white);

::-webkit-scrollbar {
  width: 0;
  background-color: $black;
}
::-webkit-scrollbar-thumb {
  background-color: $white;
}

canvas {
  pointer-events: none;
  position: relative;
  z-index: z('canvas');
  //z-index: -1;
  left: 0;
  top: 0;
  position: fixed;
}

/*.content {
  @extend %cover;
}


[data-animation = "highlight"],
[data-animation = "paragraph"],
[data-animation = "label"],
[data-animation = "title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}*/
