@font-face {
    font-family: 'HelveticaNeueLT W1G 55 Roman';
    src: url('../fonts/HelveticaNeueLTW1G-Roman.eot');
    src: url('../fonts/HelveticaNeueLTW1G-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTW1G-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTW1G-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueLTW1G-Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTW1G-Roman.svg#HelveticaNeueLTW1G-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLT W1G 45 Lt';
    src: url('../fonts/HelveticaNeueLTW1G-Lt.eot');
    src: url('../fonts/HelveticaNeueLTW1G-Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTW1G-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTW1G-Lt.woff') format('woff'),
        url('../fonts/HelveticaNeueLTW1G-Lt.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTW1G-Lt.svg#HelveticaNeueLTW1G-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

$font: 'HelveticaNeueLT W1G 55 Roman';
$font-light: 'HelveticaNeueLT W1G 45 Lt';

.font, .font-light {
    font-weight: normal;
    font-style: normal;
}

.font-light {
  font-family: $font-light;
}

.font {
  font-family: $font;
}
