//@import './index';

/**
* Intro.
*/

.home {
  &.scrolled {
    .intro__wrapper {
      clip-path: inset(30rem 30rem 30rem 30rem);

      @include media('<=mobile') {
         clip-path: inset(0 0 0 0);
         transition: none;
      }

    }


  }

}

 .header {
    transition: all .2s cubic-bezier(0.37, 0.01, 0, 0.98);

    @include media('<=mobile') {
      transition: none;
    }
    .header__logo {
      @extend .hide;
    }
  }

body {

  &.change-logo {

    .navigation__close {
      top: 45rem;

    }
    .header {
      background-color: $white;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }

    .header__logo-letters {
      @extend .hide;
    }
    .nav {
      top: 40rem
    }
    .nav__line {
      background-color: $dark_blue;
    }
    .header__logo{
      top: 24rem;
      @extend .show;
    }




  }

}


.hp-intro__image {
  opacity: 0;
}

.scroll-to {
  position: absolute;
  bottom: 73rem;
  left: 50%;
  transform:translateX(-50%);
  width: 27rem;
  height: 32rem;
  z-index: 1;
  cursor: pointer;

  animation: bounce 2s infinite;
  @include media('<=mobile') {
    width: 32rem;
    height: 37rem;
  }
}

.scroll-to__icon {
  svg {
    fill: $white;
  }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(0%, 0)
    }
    40% {
        transform: translate(0%, -10rem)
    }

    60% {
        transform: translate(0%, -5rem)
    }
}



.intro__wrapper {
  clip-path: inset(0 0 0 0);
  transition: all 1000ms ease;
  @include media('<=mobile') {
    transition: none;
  }
}
.intro__overlay {
  background-color: $black;
  @extend .multiply;
  z-index: 1;
  opacity: 0.5;

}


/**
* About.
*/

.hp-about {
  padding: 90rem 0;
  position: relative;

  position: relative;
  z-index: 1;
}

.hp-about__wrapper {
  display: flex;
  padding: 0 168rem 0 216rem;
  gap: 0 169rem;




  @include media('<=tablet') {

    padding: 0 40rem 0 40rem;
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

    @include media('<=mobile') {
    flex-direction: column-reverse;
    padding: 0 28rem 0 28rem;
  }

   @include media('landscape', '>450px','<840px') {
    display: flex;
    padding: 0 28rem 0 28rem;
    gap: 0 28rem;
    flex-direction: row;
    align-items: self-start;
  }



}

.hp-about__wrapper__image {
    max-width: 730rem;
    width: 100%;
}

.hp-about__content__txt {
  margin-bottom: 38rem;
}

.button-link {
  padding-bottom: 15rem;
}


.hp-about__content {
  max-width: 634rem;
  padding-top: 131rem;

  @include media('<=tablet') {
    max-width: 730rem;
  }
   @include media('<=mobile') {
    padding: 0 0 80rem 0;
  }

  @include media('landscape', '>450px','<840px') {
    padding-top: 0rem;
  }

}
.hp-about__content__header {
  margin-bottom: 40rem;
}

.hp-about__content__title {
  max-width: 377rem;
}


/**
* Projects.
*/
.hp-projects {
  padding: 86rem 0 140rem;

  position: relative;

  @include media('<=mobile') {
    padding-top: 30rem;
  }


}

.hp-projects__wrapper {
  @extend .grid;
  grid-template-columns: 0.48215fr 1fr;
  gap: 0 $gutter;

  @include media('<=mobile') {
    grid-template-columns: 1fr;

  }

  @include media('landscape', '>450px','<840px') {
    grid-template-columns: 0.48215fr 1fr;
  }

}

.hp-project__link {

  &:hover {
    .hp-project__info, .hp-project__info__title, .hp-project__info__text {
      opacity: 1;
      visibility: visible;
    }

    .hp-project__info__title, .hp-project__info__text {
      transform: translateY(0);
    }

  }
}


.hp-projects__wrapper__right {
  @extend .grid;
  grid-template-columns: 1fr 1fr;
  gap: $gutter;

   @include media('<=mobile') {
    grid-template-columns: 1fr;
  }
  @include media('landscape', '>450px','<840px') {
    grid-template-columns: 1fr 1fr;
  }
}

.hp-projects__header {
  margin-bottom: 82rem;
   @include media('<=mobile') {
    display: none;
  }
  @include media('landscape', '>450px','<840px') {
    display: block;
  }
}
.hp-projects__last {

}

.hp-projects__header-mobile {
  display: block;
  @include media('landscape', '>450px','<840px') {
    display: none;
  }
}

.hp-projects__header__title {
  max-width: 290rem;
  margin-bottom: 43rem;
  @extend .font-light;
  @extend .title-72;
}

.hp-projects__header__text {
  max-width: 470rem;
  margin-bottom: 46rem;
}

.hp-project__wrapper {
  height: 100%;
  display: block;
}
.hp-projects__wrapper__left{
    @extend .flex;
    flex-flow: column;
    justify-content: space-between;

    @include media('<=mobile') {
      grid-row-start: 2;
    }
    @include media('landscape', '>450px','<840px') {
      grid-row-start: 1;
    }

}
.hp-projects__wrapper__right {

    @include media('<=mobile') {
      gap:  $gutter 0;
      display: block;
    }
    @include media('landscape', '>450px','<840px') {
      display: grid;
      gap: $gutter;
    }

  .hp-project {
    @include media('<=mobile') {
      margin-bottom: 28rem;
    }

    &:first-child {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    &:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @include media('landscape', '>450px','<840px') {
       margin-bottom: 0;

      &:nth-child(2) {
        grid-column: 1;
        grid-row: 1 / span 2;
      }
      &:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 2;
      }
      &:nth-child(5) {
        grid-column-start: 1;
        grid-column-end: 3;
      }

    }
  }
}

.hp-project__info {
  @extend .cover;
  @extend .flex;
  flex-direction: column;
  justify-content: flex-end;

  @extend .hide;
  transition: all 477ms ease-in-out;
}




.hp-project__info__title {
  @extend .title-30;
  @extend .font;
  color: $white;
  background-color: #1d1d1b;
  @extend .display-inline;
  padding: 13rem 8rem;
  margin-bottom: 42rem;
  transition-delay: 0.15s;

}

.hp-project__info__title, .hp-project__info__text {
  transition: all 2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  @extend .hide;
  transform: translateY(10rem);
}

.hp-project__info__inner {
  z-index: 1;
  padding: 50rem;
  box-sizing: border-box;
}


.hp-project__info__text {
  color: $white;
  @extend .description-24;
  transition-delay: 0.3s;
}

.hp-project__info__overlay {
  @extend .cover;
  background-color: #1d1d1b;
  opacity: 0.75;
}


