//@import './index';

/* HEADER */
.logo {
  fill:$white;
}

.nav__line {
  background-color: $dark_blue;
}


body {

  &.change-logo {
    .logo {
        fill:$dark_blue;
    }

    .navigation__close {
      top: 45rem;
    }
    .header {
      background-color: $white;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }

    .header__logo-letters {
      @extend .hide;
    }
    .nav {
      top: 38rem
    }
    .nav__line {
      background-color: $dark_blue;
    }
    .header__logo{
      top: 24rem;
      @extend .show;
    }
  }

}

/* HEADER END */

.projects {
  height: 100vh;

  @include media('<=tablet') {
    height: auto;
  }
}

.projects__wrapper {
  height: 100vh;
  padding-top: 134rem;
  gap: 0 86rem;
  padding-bottom: 115rem;
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;

  @include media('<=tablet') {
    display: block;
    height: auto;
    padding-bottom: 0;
  }

}

.projects__wrapper__image {
  max-width: 1032rem;
    width: 100%;
    height: 100%;

   @include media('<=tablet') {
    margin: 0 auto;
  }

  @include media('<=tablet-horizontal') {
   height: auto;
  }
}
.projects__details {
  max-width: 480rem;

  @include media('<=tablet') {
    max-width: 730rem;
    margin: 0 auto;
    padding-top: 100rem;
  }

  @include media('<=mobile') {
    padding-top: 80rem;
  }

}
.projects__details__title {
  @extend .title-72;
  @extend .font-light;
  max-width: 300rem;
  margin-bottom: 55rem;
}
.projects__details__text {
  margin-bottom: 65rem;
}

.projects__bg{
  background-color: $dark_blue;
  width: 49%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;

  @include media('<=tablet') {
    height: 76%;
  }

  @include media('<=mobile') {
    height: 63%;
  }
}





.scroll-to {
  position: absolute;
  bottom: 44rem;
  left: 0;
  width: 27rem;
  height: 32rem;
  z-index: 1;
  cursor: pointer;
  animation: bounce 2s infinite;

}

.scroll-to__icon {
  svg {
    fill: $white;
  }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(0%, 0)
    }
    40% {
        transform: translate(0%, -10rem)
    }

    60% {
        transform: translate(0%, -5rem)
    }
}

.js-grid-item {
  width: 33.33%;
  margin-bottom: 30rem;

  @include media('<=tablet') {
    width: 50%;
  }

  @include media('<=mobile') {
    width: 100%;
  }
}

.projects-list{
  margin-bottom: 150rem;
}


.hp-project__wrapper {
  height: 100%;
  display: block;
}

.hp-project__link {

  &:hover {
    .hp-project__info, .hp-project__info__title, .hp-project__info__text {
      opacity: 1;
      visibility: visible;
    }

    .hp-project__info__title, .hp-project__info__text {
      transform: translateY(0);
    }

  }
}


.hp-project__info {
  @extend .cover;
  @extend .flex;
  flex-direction: column;
  justify-content: flex-end;

  @extend .hide;
  transition: all 477ms ease-in-out;
}




.hp-project__info__title {
  @extend .title-30;
  @extend .font;
  color: $white;
  background-color: #1d1d1b;
  @extend .display-inline;
  padding: 13rem 8rem;
  margin-bottom: 42rem;
  transition-delay: 0.15s;

}

.hp-project__info__title, .hp-project__info__text {
  transition: all 2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  @extend .hide;
  transform: translateY(10rem);
}

.hp-project__info__inner {
  z-index: 1;
  padding: 50rem;
  box-sizing: border-box;
}


.hp-project__info__text {
  color: $white;
  @extend .description-24;
  transition-delay: 0.3s;
}

.hp-project__info__overlay {
  @extend .cover;
  background-color: #1d1d1b;
  opacity: 0.75;
}



.projects__filter {
  @extend .flex;
  justify-content: flex-end;
  padding-top:80rem;
  margin-bottom: 90rem;

  @include media('<=mobile') {
    padding-top:20rem;
    justify-content: center;
  }
}

.projects__filter-holder{
  border-right:1rem solid $black;

  &:last-child{
    border-right: none;

    .projects__filter-item {
       margin-right: 0;

       @include media('<=tablet') {
        margin-right: 20rem;
      }
    }
  }

  &.active {
    color: $dark_blue;
    pointer-events: none;

    .projects__filter-item {
      border-bottom: 1rem solid $dark_blue;
      color: $dark_blue;
    }
  }



}

.projects__filter-item {
  margin: 0 30rem;
  cursor: pointer;

  @include media('<=tablet') {
    margin: 0 20rem;
  }
}
@include media('<=tablet') {
  .gutter-tablet {
    margin: 0 14rem;
  }
}

.gutter-grid {
  margin: 0 14rem;
}

.ajax-cat {
  opacity: 0;
}
