.preloader {
  @extend .cover;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  z-index: z('preloader');

}

.preloader__text {
  font-size: 20rem;
  max-width:  670rem;


}

.preloader__number {
  font-size: 16rem;
  color: white;
  bottom: 7.3rem;
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);

}

.preloader__number__text {
  display: inline-block;
}
