  .slider{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.slider__bg {
    background-color: $black;
    opacity: 0.9;
    @extend .cover;
}

.slider__close {
    position: fixed;
    z-index: 1000;
    max-width: 40rem;
    cursor: pointer;
    right: 32rem;
    width: 40rem;
    top: 43rem;
    fill: $white;
}


.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }

.swiper-pointer-events {
    touch-action: pan-y;
}

.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px,0,0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}


.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}


.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 5rem;
    left: auto;

    @include media('<=mobile') {
        right: 50%;
        transform: translate(70rem);
    }
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 60rem;
    height: 70rem;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('<=mobile') {
      top: initial;
      bottom: 0;
    }
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 5rem;
    right: auto;

    @include media('<=mobile') {
        left: 50%;
        transform: translate(-70rem);
    }
}

.swiper-slider__inner {
    width: calc(100% - 200rem);
    max-width: 1920rem;
    max-height: 1080rem;
    height: 80vh;
    margin: 0 auto;
    position: relative;



    @include media('<=mobile') {
        width: calc(100% - 56rem);
    }
}

.slider__holder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
}

.slider__arrow {
    width: 60rem;
    cursor: pointer;
    z-index: 1000;
    fill: $white;

    &--prev{
        left: 0;
        transform: rotate(180deg);
    }

    &--next{
        right: 0;
    }

}
