



/*@mixin placeholder {
  &.placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}*/

@mixin ratio ($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}

@mixin display-inlineBlock($position: middle) {
  display: inline-block;
  *display: inline;
  vertical-align: $position;
  zoom: 1;
}

@mixin bg-cover($bg_position: center){
  @include background-size(cover);
  background-position: $bg_position;
  background-repeat: no-repeat;
}

@mixin blend-mode($val: multiply){
  -webkit-mix-blend-mode: $val;
  mix-blend-mode: $val;
  background-blend-mode: $val;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

@mixin text-selection($bgcolor, $color){
  ::-moz-selection{
    background-color: $bgcolor;
    color: $color;
  }
  ::selection{
    background-color: $bgcolor;
    color: $color;
  }
}


