$black: #1D1D1B;
$white: #fff;
$beize:#E1DBD4;
$light_blue: #A4C4DB;
$dark_blue: #475867;
$red: #ff0000;



$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  //'noscript',
  'navigation',
  'preloader',
  'header',
  'content',
  'canvas' //move the canvas behind the content
);
