//@import './index';



.detail__media__image {


    img {
      @extend .hide;
    }


}


.sprojects {
    height: 50vh;
    margin-top: 15vh;
}



/* HEADER */
.logo {
  fill:$white;
}

.nav__line {
  background-color: $dark_blue;
}

body {

  &.change-logo {
    .logo {
        fill:$dark_blue;
    }

    .navigation__close {
      top: 45rem;
    }
    .header {
      background-color: $white;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }

    .header__logo-letters {
      @extend .hide;
    }
    .nav {
      top: 38rem
    }
    .nav__line {
      background-color: $dark_blue;
    }
    .header__logo{
      top: 24rem;
      @extend .show;
    }
  }

}

/* HEADER END */

// .sprojects {
//   height: 100vh;

//   @include media('<=tablet') {
//     height: 100%;
//   }
// }

.sprojects__wrapper {

  padding-top: 400rem;
  gap: 0 86rem;
  padding-bottom: 115rem;
  display: flex;
  align-items: center;
  z-index: 2;
  position: relative;

  @include media('<=tablet') {
    height: 100%;
  }

  @include media('<=mobile') {
    height: 650rem;
  }
}

.sprojects__wrapper__image {
    width: 100%;
    height: 100%;

   @include media('<=tablet') {
    margin: 0 auto;
  }
}

.sprojects__bg{
  background-color: $dark_blue;
  width: 49%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top left;
  transition: transform 1200ms cubic-bezier(.45,.01,.07,1);
}

.loaded {
  .sprojects__bg{
    transform: scaleY(1);
  }
}





.scroll-to {
  position: absolute;
  bottom: 44rem;
  left: 0;
  width: 27rem;
  height: 32rem;
  z-index: 1;
  cursor: pointer;
  animation: bounce 2s infinite;

}

.scroll-to__icon {
  svg {
    fill: $white;
  }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(0%, 0)
    }
    40% {
        transform: translate(0%, -10rem)
    }

    60% {
        transform: translate(0%, -5rem)
    }
}

.sproject__title {
  padding-top: 110rem;
  margin-bottom: 70rem;

  @include media('<=tablet') {
    padding-top: 70rem;
  }
}

.sproject__inner {
  gap: 0 50rem;
  padding-bottom: 130rem;

  @include media('<=tablet') {
    display: block;
    padding-bottom: 50rem;
  }
}

.sproject__content-inner {
  max-width: 885rem;
}

.sproject__content {
  max-width: 1064rem;
  width: 100%;
}

.sproject_details {
  max-width: 500rem;

  @include media('<=tablet') {
    padding-top: 30rem;
  }
}

.sproject_detail {
  margin-bottom: 10rem;
}

.sproject_detail-inner {
  margin-bottom: 54rem;
}

.sproject_info-label {
  margin-bottom: 10rem;
}

.sproject_info-text {
  margin-bottom: 50rem;
}



.js-grid-item {
  width: 50%;
  margin-bottom: 30rem;

  @include media('<=mobile') {
    width: 100%;
  }
}

.extra-content {
  max-width: 885rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 100rem;
  margin-bottom: 140rem;
}


.gallery_handler{
    width: 272rem;
    border-radius: 50%;
    position: absolute;
    right: 40rem;
    bottom: 60rem;
    padding: 12rem 30rem;
    cursor:pointer;

    &:hover{
      .gallery_handler-bg{
        opacity: 1;
      }

    }

    @include media('<=tablet') {
      width: 272rem;

    }

    @include media('<=mobile') {
      right: 28rem;
      bottom: 28rem;
      width: 252rem;
    }
}

.gallery_handler-bg{
  @extend .cover;
  background-color: $dark_blue;
  opacity: 0.9;
  border-radius: 50rem;
}

.gallery_handler-bg{
  @extend .trans;
}


.gallery_handler-inner {
  z-index: 10;
  align-items: center;
  justify-content: space-between;
}

.gallery_handler-title{
 color: $white;
}

.gallery-icon-svg {
  width: 45rem;
  fill: $white;

  @include media('<=tablet') {
    width: 38rem;
  }
}


@import 'components/slider';
